<!--
  Generated template for the MypageSchedulePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="NavBar">
    <ion-title class="white regularLarge"><span class="white regularLarge">시간표 수정</span></ion-title>
    <ion-buttons end>
      <button class="white regularLarge" (click)="submit()">
        확인
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <table>
    <thead>
    <th></th>
    <th><span class="regular grey fontMedium">월</span></th>
    <th><span class="regular grey fontMedium">화</span></th>
    <th><span class="regular grey fontMedium">수</span></th>
    <th><span class="regular grey fontMedium">목</span></th>
    <th><span class="regular grey fontMedium">금</span></th>
    </thead>
    <tbody>
    <tr *ngFor="let row of [1,2,3,4,5,6,7,8,9,10]; let rowIndex=index;">
      <td><span class="regular grey">{{rowIndex+1}}</span></td>
      <td [attr.id]="'td_' + (rowIndex+1)+'_'+(colIndex+1)" (click)="availTimeClick(rowIndex+1,colIndex+1)" *ngFor="let col of [1,2,3,4,5]; let colIndex=index;"></td>
    </tr>
    </tbody>
  </table>
</ion-content>
