// http://ionicframework.com/docs/v2/theming/
// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.
@import "../pages/home/home";
@import "../pages/chat/chat.scss";
@import "../pages/teach/teach.scss";
@import "../pages/myclass/myclass.scss";
@import "../pages/mypage/mypage.scss";
@import "../pages/home-detail/home-detail.scss";
@import "../pages/login/login.scss";
@import "../pages/login-complete/login-complete.scss";
@import "../pages/login-register/login-register.scss";
@import "../pages/login-register-modal/login-register-modal.scss";
@import "../pages/home-detail-chat/home-detail-chat.scss";
@import "../pages/home-detail-buy/home-detail-buy.scss";
@import "../pages/teach-modal/teach-modal.scss";


@charset "utf-8";
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
//@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

//@font-face {
//  font-family: 'Open Sans';
//  url('OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */

//}

$font-eng: 'Open Sans', sans-serif;
$font-kor: 'Noto Sans KR', sans-serif;
$grey: #525252;
$mainColor: #961a1d;

body,p,span,html  {
  font-family: $font-kor;
}

//18px
.tiny {
  font-size: 8px;
}

//20px
.small {
  font-size: 10px;
}

//25px
.regular {
  font-size: 12px;
}

//30px
.regularLarge {
  font-size: 15px;
}

//50px
.big {
  font-size: 26px;
}

//60px
.extra {
  font-size: 32px;
}

div.center, input.center, select.center {
  text-align: center;
  text-align-last: center;
}

div.right, input.right, select.right {
  text-align: right;
  text-align-last: right;
}

div.left, input.left, select.left {
  text-align: left;
  text-align-last: left;
}

.white {
  color: white;
}

.grey {
  color: $grey;
}

.fontLight {
  font-weight: 300;
}

.fontMedium {
  font-weight: 400;
}

.fontBold {
  font-weight: 500;
}
.fontExtraBold {
  font-weight: 600;
}

.toolbar-background {
  border-color: transparent !important;
  border-style: none !important;
  background: none !important;
}

.item-inner {
  border: none;
}

.mainColor {
  color: $mainColor;
}

.mainColorBg {
  background-color: $mainColor;
}

.transparent {
  background-color: rgba(0, 0, 0, .0);
}

.closeButton {
  background-color: rgba(0, 0, 0, .0);
  width: 7vw;
  margin: 0px 10px !important;
  padding: 0px !important;

}

.largeButton {
  border-radius: 25px;
  height: 50px;
  width: 100px;
  margin-bottom: 8px;
  border: 1px solid rgba(255, 255, 255, .6);
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
}

button.activated{
  background-color: rgba(0, 0, 0, .0) !important;
}

.placeholderLarge::-webkit-input-placeholder {
  color: white;
  font-weight: 300;
  height: 55px !important;
}

.placeholderLarge:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-weight: 300;
  height: 55px !important;
}

.placeholderLarge::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-weight: 300;
  height: 55px !important;
}

.placeholderLarge:-ms-input-placeholder {
  color: white;
  font-weight: 300;
  height: 55px !important;
}

ion-list > .item:first-child, ion-list > .item:last-child, ion-list > .item > .item-inner {
  border: none !important;
  padding-left: 5px;
}

.select-icon {
  display: none;
}

.line {
  width: 135px;
}

ion-footer {
  padding: 10px;
}

.text-input-clear-icon {
  background-image: none;
}


.yonseiLogoSmall{
  width:5vw;

}

.toolbar-title{
  font-size: 16px;
  font-weight: 400;
}
