.mypage-page {
  .NavBar{
    background-color: #961a1d;
    height: 48px;
  }

  td{
    height: 5.8vh;
    border: 1px solid rgba(255,255,255,.3);
  }
  th{
        padding: 20px 0px 10px;
  }
  td:nth-child(1){
    width: 5vw;
  }
  table{
    margin:auto;
    margin-bottom: 10vh;
  }
  .backgroundBG{
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../images/myPageBg.png') no-repeat center center ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
  }
  .toggle-icon.toggle-checked{
    background-color: #961a1d;
  }
  // .toggle-icon{
  //   background-color: rgba(255, 255, 255, 0);
  // }
  .editIcon{
    width: 4vw;
  }
  .myPageProfile{
    border-radius: 50%;
    width:33vw;
    height:33vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 18vw 0vw 8vw;
  }
  scroll-content{
    padding:0px 0px !important;
  }
  .myProfileListItem{
    border-bottom:1px solid rgba(255, 255, 255, .3);
  }
  ion-grid{
    padding: 0px;
  }
  ion-col{

    padding: 0px 0px 0px 15px;
  }
  .myProfileItemHeight{
  height: 15vw;
  }
  .vertC{
    line-height: 15vw;
  }
  .myPageSchool{
    position: absolute;
    top: 20vw;
    right: 32vw;
    border-radius: 50%;
    width:7vw;
    height:7vw;
    background: url('../images/yonsei.png') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  .toggleButton{
    float: right;
    margin-top: 3vw;
    margin-right: 3vw;
  }
}
