.teach-page {
  .toolbar {
    padding: 0;
  }
  ion-content{
    scroll-content{
      margin-top: 20vw !important;
    }
  }
  ion-slides{
    height: inherit;
  }
  ion-toolbar{
    padding-top:0 !important;
    height: inherit !important;
    .add-class-button-area{
      position: absolute;
      display: flex;
      left:0;
      top:0;
      width:20vw;
      height:20vw;
      background: purple;
      button{
        margin:auto;
      }
    }
  }
  .scroll-item-group{
    font-size:0;
  }
  ion-scroll {
    height: 20vw;
    margin-left: 20vw;
    .scroll-item {
      &:nth-child(1) {
        margin-left: 0 !important;
      }
      &:nth-child(2n) {
        background: black;
      }
      &:nth-child(2n+1) {
        background: red;
      }
      width: 20vw;
      height: 20vw;

      display: inline-block;
    }
  }
  .floating_button{
    position: absolute;
    bottom: 50px;
    right:10px;
  }
}
