.teach-page {
  .toolbar {
    padding: 0;
  }
  //ion-content{
  //  scroll-content{
  //    margin-top: 20vw !important;
  //  }
  //}
  ion-slides{
    height: inherit;
  }
  ion-toolbar{
    padding-top:0 !important;
    height: inherit !important;
    .add-class-button-area{
      position: absolute;
      display: flex;
      left:0;
      top:0;
      width:20vw;
      height:20vw;
      background: #961a1d;
      button{
        margin:auto;
      }
    }
  }
  .scroll-item-group{
    font-size:0;
  }
  ion-scroll {
    height: 20vw;
    margin-left: 20vw;
    .scroll-item {
      &:nth-child(1) {
        margin-left: 0 !important;
      }
      &:nth-child(2n) {
        //background: black;
      }
      &:nth-child(2n+1) {
        //background: red;
      }
      width: 20vw;
      height: 20vw;

      display: inline-block;
    }
  }
  .floating_button{
    position: absolute;
    bottom: 50px;
    right:10px;
  }
  .teachClassList{
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  .teachClassList2{
    position: relative;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/sampleClass2.png') no-repeat center center ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  .addButton{
    width:6vw;
  }
  .teachClassStatus{
    z-index: 1;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:-10px;
    margin-left:-13px;
  }
  .teachClassActive{
    z-index: 2;
    height: 1.5vw;
    width: 20vw;
    background-color: #961a1d;
    position: absolute;
    bottom:0vw;
    left: 0vw;
  }
  .TeachImage{
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
  }
  //.TeachImage>div:before{
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  right: 0;
  //  left: 0;
  //  height: 100%;
  //  background-image: linear-gradient(90deg, #000 0%, #fff 100%);
  // // position: absolute;
  // // left:0;
  // // top:0;
  // // width:100%;
  // // height:100%;
  // //background:linear-gradient(to right, red , yellow);
  //}
  .TeachProfile{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50% ;
    width: 15vh;
    height: 15vh;
    background-color: white;
    margin:22px 12px 2px;
  }
  .classDetailTab{
    width: calc(100% / 3);
    margin: 0px -2px;
    border-radius: 0px;
    height: 6vh !important;
    background-color: white;
    border-bottom: 1px solid rgba(82, 82, 82, .2);
  }
  .noPadding{
    padding:0px;
    margin:0px;
  }
  .profileVerification{
    border-radius: 50% ;
    width: 3.5vh;
    height: 3.5vh;
    background-color: #525252;
    margin:18px 5px 24px;
  }
  .floatLeft{
    float:left;
  }
  .floatRight{
    float:right;
  }

  .classProfile{
    padding: 0vw 0vw 4vw 0vw;
    margin-left: 30vw;
  }
  .classProfileS{
    padding: 0vw 0vw 0vw 0vw;
    margin-left: 30vw;
  }
  .classProfileTitle{
    padding: 0vw 14vw 0vw 0vw;
  }
  .lightGreyBg{
    background-color: #f2f2f2;
    height:auto;
    overflow:scroll;
    color: grey;
    padding: 15px 15px 0px ;
  }
  .whiteBg{
    background-color: white;
    height:auto;
    overflow:scroll;
    color: grey;
    padding: 15px 15px 0px;
  }
  ion-content>scroll-content{
    //margin-top: calc(90vw) !important;
  }

  .greeting{
    padding-top:4vh;
  }
  .classRatingStar{
    width:1.5vh;
    margin: 1.5px;
  }
  .classRatingStarS{
    width:1.2vh;
  }
  .classRating>button{
    margin:0px !important;
    padding:0px;
    height:2em;
  }
  .classRating{
    padding:0px 15px;
  }
  .classRatingSection{
    height:auto;
    overflow:scroll;
    border-bottom: 1px solid rgba(82, 82, 82, .2);;
    padding-bottom: 2.5vh;
  }
  .classRatingList{
    padding-bottom: 20px;
    height: initial;
  }
  .ratingProfile{
    background-color: #525252;
    width: 10vw;
    border-radius: 50%;
    margin: 0px 15px 15px 0px;
  }
  .ratingText{
    display:inline-block;
    line-height: 18px;
  }
  .ratingTextPadding{
    padding-top:20px;
  }
  .teachEdit{
    border-radius: 50%;
    background-color: #961a1d;
    color: white;
    width:14vw;
    height:14vw;
    z-index: 1;
    margin-bottom: 3.5vw;
  }
  .slide-zoom{
    text-align: left;
  }
  .scroll-item-group{
    background: #71151d;
  }
}
