.home-page {
  .classListImage{
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/class1.png') no-repeat center center ;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  .classListProfile{
    border-radius: 50% ;
    width: 15vh;
    height: 15vh;
    background-color: white;
    margin:12px;
  }
  .classPrice{
    background-color: rgba(0 , 0, 0, .8);
    color: white;
    position: absolute;
    top:0px;
    right:0px;
    padding: 3px 11px 6px;
  }
  ion-list > .item:first-child, ion-list > .item:last-child, ion-list > .item > .item-inner, ion-item > .item-inner {
    border: none !important;
    padding: 5px !important;
  }
}
