.home-page {
  .classListImage{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  .classListProfile{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50% ;
    width: 15vh;
    height: 15vh;
    background-color: white;
    margin:22px 12px 2px;
  }
  .classPrice{
    background-color: rgba(0 , 0, 0, .8);
    color: white;
    position: absolute;
    top:0px;
    right:0px;
    padding: 3px 11px 6px;
  }
  ion-list > .item:first-child, ion-list > .item:last-child, ion-list > .item > .item-inner, ion-item > .item-inner {
    border: none !important;
    padding: 4px !important;
  }
  ion-label{
    margin: 15px 0px 10px;
  }
  ion-select>div{
    overflow: visible;
    padding-right: 15px;
    color:white;
    font-size: 12px;
  }
  ion-select{
    padding-left:0px;
    padding-top: 8px;
  }

}
