.chat-detail-page {
  .button-comment{
  background: none;
  color:rgba(82, 82, 82, 0.7);
  border: 1px solid rgba(82,82,82, .3);
    border-radius: 20px;
    width: 55px;
    height: 100%;
    line-height: 2.2 !important;
    float: right;
  }
  .chatNavBar{
    background-color: #961a1d;
    height: 48px;
  }
  ion-navbar>.back-button{
    display: none;
  }
  ion-label{
    text-overflow: initial;
    white-space: initial;
  }
  ion-list > .item:first-child, ion-list > .item:last-child, ion-list > .item > .item-inner {
    border: none !important;
  }
  ion-list{
    padding-top: 48px;
    padding-bottom: 44px;
    margin: -1px 0 0 0;
  }
}
