.teach-modal-page {
  ion-slide {
    overflow-y: scroll;
  }
  ion-content {
    scroll-content {
      overflow-y: hidden;
    }
  }
  .swiper-slide {
    -webkit-box-pack: initial;
    -webkit-justify-content: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
    -ms-flex-align: initial;
    align-items: initial;
  }
  .statusBar{
    position: absolute;
    top: 0px;
    height: 1vw;
    width: calc(100% / 3);
    background-color: #961a1d;
  }
}
table {
  td {
    width: calc(100vw / 6);
    border: 1px solid black;
    &:nth-child(1) {
      width: 10vw;
      border: none;
    }
  }
  .closeButton {
    background-color: rgba(0, 0, 0, .0);
    width: 7vw;
    margin: 0px 10px !important;
    padding: 0px !important;

  }
  .addClassTitle{
    padding: 15px;
  }
  .floatRight{
    float:right !important;
  }
  .floatLeft{
    float:left !important;
  }
  ion-header{
    position:relative;
  }

}
