<!--
  Generated template for the TeachModalPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <div style="float:left" class="addClassTitle">
      <span class="big fontMedium " [innerHTML]="headerTitle[headerTitleIndex]"></span>
    </div>
    <div style="float:right">
      <button (click)="backButton()" class="closeButton"><img src="build//images/closeDark.svg"/></button>
    </div>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-slides #mySlider [options]="mySlideOptions">
    <ion-slide>
      <!--1페이지-->
      <ion-list>
        <ion-item class="center">
          <ion-label class="regularLarge fontMedium">수업분야</ion-label>
          <ion-select [(ngModel)]="class_area">
            <ion-option value="nes" class="big grey">음악</ion-option>
            <ion-option value="n64">Nintendo64</ion-option>
            <ion-option value="ps">PlayStation</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="center">
          <ion-label class="regularLarge fontMedium">상세 카테고리</ion-label>
          <ion-select [(ngModel)]="class_category">
            <ion-option value="nes">악기</ion-option>
            <ion-option value="n64">Nintendo64</ion-option>
            <ion-option value="ps">PlayStation</ion-option>
          </ion-select>
        </ion-item>
        <ion-item class="center">
          <ion-label class="regularLarge fontMedium">수업 태그</ion-label>
          <ion-input type="text" placeholder="ex. 피아노" [(ngModel)]="class_tag"></ion-input>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <div>제목</div>
        <div>
          <ion-item>
            <ion-input type="text" placeholder="Username" [(ngModel)]="class_title"></ion-input>
          </ion-item>
        </div>
        <div>
          희망회차 및 커리큘럼
        </div>
        <div>
          <ion-list inset>
            <ion-item *ngFor="let curriculum of class_curriculum_list; let i=index;">
              <ion-label>{{i+1}}회차</ion-label>
              <ion-input type="text" [(ngModel)]="curriculum.description"></ion-input>
            </ion-item>
          </ion-list>
        </div>
        <div>
          <button (click)="rmCurriculum()">회차 삭제</button>
          <button (click)="addCurriculum()">회차 추가</button>
        </div>
        <div>
          주말에도 돼요?
        </div>
        <div>
          <ion-input type="text" placeholder="Username" [(ngModel)]="class_weekend"></ion-input>
        </div>
        <div>
          회차당 수업시간
        </div>
        <div>
          <button (click)="addClassDuration()">plus</button>
        </div>
        <div>
          <span>{{class_duration}}</span>시간
        </div>
        <div>
          <button (click)="minusClassDuration()">minus</button>
        </div>
        <div>
          수업 장소
        </div>
        <div>
          <ion-input type="text" placeholder="Username" [(ngModel)]="class_place"></ion-input>
        </div>
        <div>
          언제 시간되어요?
        </div>
        <div>
          <table>
            <thead>
              <th></th>
              <th>월</th>
              <th>화</th>
              <th>수</th>
              <th>목</th>
              <th>금</th>
            </thead>
            <tbody>
              <tr *ngFor="let row of [1,2,3,4,5,6,7,8,9,10]; let rowIndex=index;">
                <td>{{rowIndex+1}}</td>
                <td [attr.id]="'td_' + (rowIndex+1)+'_'+(colIndex+1)" (click)="availTimeClick(rowIndex+1,colIndex+1)" *ngFor="let col of [1,2,3,4,5]; let colIndex=index;"></td>
              </tr>
            </tbody>
          </table>
          <div>구체적인 시간은 학생과 협의할 수 있습니다</div>
        </div>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list>
        <div>
          경력
        </div>
        <div>
          자신의 경력을 마구 뽐내주세요
        </div>
        <div>
          <textarea [(ngModel)]="class_history"></textarea>
        </div>
        <div>0/500글자</div>
        <div>
          멘티들에게 한 마디
        </div>
        <div>
          코치가 멘티에게...
        </div>
        <div>
          <textarea [(ngModel)]="class_comment"></textarea>
        </div>
        <div>0/500글자</div>
        <div>
          전화번호
        </div>
        <div>
          <ion-input type="number" placeholder="Username" [(ngModel)]="class_phone"></ion-input>
        </div>
        <div>
          FAQ
        </div>
        <div>
          주로 나오는 질문들의 대답을 적는 칸 입니다.
        </div>
        <div>
          어떻게 가르치실 예정인가요?
        </div>
        <div>
          <textarea [(ngModel)]="class_faq"></textarea>
        </div>
        <div>0/500글자</div>
        </ion-list>
    </ion-slide>
    <ion-slide>
      수고하셨어요~
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button (click)="prev()" *ngIf="prevButtonShow === true">이전으로</button>
    <button class="transparent  largeButtonLight" style="float:right;" (click)="next()">{{bottomRightButton}}</button>
    <!--이거 왜 이럼-->
  </ion-toolbar>
</ion-footer>
