.myclass-review-page{
  textarea{
    width:100%;
    padding:10px 0px;
    resize: none;
    height:25vh;
  }
  textarea::-webkit-input-placeholder {
    color: grey;
    font-weight: 300;
    font-size: 12px;
    height: 35px !important;
  }

  textarea:-moz-placeholder { /* Firefox 18- */
    color: grey;
    font-weight: 300;
    font-size: 12px;
    height: 35px !important;
  }

  textarea::-moz-placeholder { /* Firefox 19+ */
    color: grey;
    font-weight: 300;
    font-size: 12px;
    height: 35px !important;
  }

  textarea:-ms-input-placeholder {
    color: grey;
    font-weight: 300;
    font-size: 12px;
    height: 35px !important;
  }
  img{
    width:3vh !important;
    max-width: 3vh !important;
    margin: 6px;
  }
  scroll-content{
    padding:15px !important;
  }
  .paddingTop{
    padding-top: 4vh;
  }
}
