.myclass-review-page{
  textarea{
    width:100%;
    padding:10px;
    resize: none;
    height:50vh;
  }
  textarea::-webkit-input-placeholder {
    color: grey;
    font-weight: 300;
    font-size: 12px;
    height: 55px !important;
  }

  textarea:-moz-placeholder { /* Firefox 18- */
    color: grey;
    font-weight: 300;
    font-size: 12px;
    height: 55px !important;
  }

  textarea::-moz-placeholder { /* Firefox 19+ */
    color: grey;
    font-weight: 300;
    font-size: 12px;
    height: 55px !important;
  }

  textarea:-ms-input-placeholder {
    color: grey;
    font-weight: 300;
    font-size: 12px;
    height: 55px !important;
  }
  img{
    width:3vh !important;
    max-width: 3vh !important;
    margin: 3px;
  }
  scroll-content{
    padding:15px !important;
  }
}
