.myclass-review-page{
  textarea{
    width:100%;
    padding:10px 0px;
    resize: none;
    height:25vh;
  }
  textarea::-webkit-input-placeholder {
    color: grey;
    font-weight: 300;
    font-size: 12px;
    height: 35px !important;
  }

  textarea:-moz-placeholder { /* Firefox 18- */
    color: grey;
    font-weight: 300;
    font-size: 12px;
    height: 35px !important;
  }

  textarea::-moz-placeholder { /* Firefox 19+ */
    color: grey;
    font-weight: 300;
    font-size: 12px;
    height: 35px !important;
  }

  textarea:-ms-input-placeholder {
    color: grey;
    font-weight: 300;
    font-size: 12px;
    height: 35px !important;
  }
  img{
    width:3vh !important;
    max-width: 3vh !important;
    margin: 6px;
  }
  scroll-content{
    padding:15px !important;
  }
  .paddingTop{
    padding-top: 4vh;
  }
  //.ion-ios-star{
  //  color:red;
  //}
  //.ion-ios-star-outline{
  //  color:red;
  //}
  //.ion-ios-star{
  //  width: 3vh !important;
  //  max-width: 3vh !important;
  //  height: 3vh;
  //  margin: 6px;
  //}
  //.ion-ios-star:before {
  //  display: block;
  //  width: 30px !important;
  //  height: 30px !important;
  //  //background-size: 30px 30px;
  //  //background-image: url('/build/images/star.svg') !important;
  //  //content:"" !important;
  //   content: url('/build/images/star.svg') !important;
  // }
}
