.home-detail-page {
  .slide-zoom{
    text-align:left;
    overflow-y:scroll;
  }
  .swiper-slide{
    -webkit-box-pack: initial;
    -webkit-justify-content: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
    -ms-flex-align:initial;
    align-items:initial;
  }
  scroll-content{
    margin-top: calc(30vh + 51px) !important;
  }
  ion-toolbar{
    padding-top:0 !important;
    height: inherit !important;
    font-size:0;
  }
  .classListImage{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  .classListProfile{
    border-radius: 50% ;
    width: 15vh;
    height: 15vh;
    background-color: white;
    margin:22px 12px 2px;
  }
  .classPrice{
    background-color: rgba(0 , 0, 0, .8);
    color: white;
    position: absolute;
    top:0px;
    right:0px;
    padding: 3px 11px 6px;
  }
  ion-list > .item:first-child, ion-list > .item:last-child, ion-list > .item > .item-inner, ion-item > .item-inner {
    border: none !important;
    padding: 4px !important;
  }
  ion-label{
    margin: 15px 0px 10px;
  }
  .toolbar{
    padding:0px;
  }
  .footerButton1,.footerButton2{
    width: 50%;
    margin: 0px;
    border-radius: 0px;
    height: 8vh !important;
  }
  .footerButton1{
    background-color: #262727;
  }
  .footerButton2{
    background-color: #961a1d;
  }
  .classDetailTab{
    width: calc(100% / 3);
    margin: 0px;
    border-radius: 0px;
    height: 6vh !important;
    background-color: white;
    border-bottom: 1px solid rgba(82, 82, 82, .2);
  }
  .noPadding{
    padding:0px;
    margin:0px;
  }
  .profileVerification{
    border-radius: 50% ;
    width: 3.5vh;
    height: 3.5vh;
    background-color: #525252;
    margin:18px 5px 24px;
  }
  .floatLeft{
    float:left;
  }
  .floatRight{
    float:right;
  }

  .classProfile{
    padding: 0vw 0vw 4vw 0vw;
    margin-left: 30vw;
  }
  .classProfileS{
    padding: 0vw 0vw 0vw 0vw;
    margin-left: 30vw;
  }
  .classProfileTitle{
    padding: 0vw 14vw 0vw 0vw;
  }
  .lightGreyBg{
    background-color: #f2f2f2;
    height:auto;
    overflow:scroll;
    color: grey;
    padding: 15px 15px 0px ;
  }
  .whiteBg{
    background-color: white;
    height:auto;
    overflow:scroll;
    color: grey;
    padding: 15px 15px 0px;
  }
  scroll-content{
    margin-left: calc(0vh) !important;
    margin-right: calc(0vh) !important;

  }
  .greeting{
    padding-top:4vh;
  }
  .classRatingStar{
    width:1.5vh;
    margin: 1.5px;
  }
  .classRatingStarS{
    width:1.2vh;
  }
  .classRating>button{
    margin:0px !important;
    padding:0px;
    height:2em;
  }
  .classRating{
    padding:0px 15px;
  }
  .classRatingSection{
    height:auto;
    overflow:scroll;
    border-bottom: 1px solid rgba(82, 82, 82, .2);;
    padding-bottom: 2.5vh;
  }
  .classRatingList{
    padding-bottom: 20px;
    height: initial;
  }
  .ratingProfile{
    background-color: #525252;
    width: 10vw;
    border-radius: 50%;
    margin: 0px 15px 15px 0px;
  }
  .ratingText{
    padding-left:14vw;
    display:inline-block;
    line-height: 18px;
  }
  .ratingTextPadding{
    padding-top:20px;
  }
}
