.home-detail-page {
  .slide-zoom{
    text-align:left;
  }
  .swiper-slide{
     -webkit-box-pack: initial;
    -webkit-justify-content: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
    -ms-flex-align:initial;
    align-items:initial;
  }
  scroll-content{
    margin-top: calc(30vh + 51px) !important;
  }
  ion-toolbar{
    padding-top:0 !important;
    height: inherit !important;
  }
}
