.home-detail-page {
  .slide-zoom{
    text-align:left;
  }
  .swiper-slide{
     -webkit-box-pack: initial;
    -webkit-justify-content: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    -webkit-box-align: initial;
    -webkit-align-items: initial;
    -ms-flex-align:initial;
    align-items:initial;
  }
}
