.login-register-page{
  ion-list.registrationText{
    margin-top: 22vh !important;
  }
  .schoolSelect{
    padding-top: 18vw;
  }
  ion-select{
    color: white;
  }
  .item-select{
    color:white;
  }
  ion-label{
    color:white;
  }
  input::-webkit-input-placeholder{
    color:white;
  }
}
