.login-page {
  .buttonSocial{
    border-radius: 2.7vh;
    width:65vw;
    height:5.4vh;
  }
  .iconSocial{
    width:4vh;
  }
  .facebook{
    background-color:#4d75b6;
  }
  .naver{
    background-color:#45b648;
  }
  .google{
    background-color:#dc4b37;
  }
  .copyrightFooter{
    padding-bottom:30px;
  }
  .socialLogin{
    padding-top: 16vh;
  }
  .mainLogo{
    padding-top: 14vh;
  }
  .logo{
    padding: 3vh;
    height:14.5vh;
  }
  .background {
    background:url("../images/background.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }
  scroll-content {
    overflow-y: hidden;
  }

}

